<h1>AboutUs</h1>
<address>
	<address class ="pull-center">
        	<strong>RuBi TopBrainz Afrika</strong><br>
        	607 KAMPALA,WAKISO<br>
        	WILSON STREET<br>
        	<a href="TEL:+256">775560765, 701900304</a><br>
        	OR<br>
        	<a href="Email:">@rubi.com</a>

</address>

