<h1>complaint page</h1>

<p>
	Is our Site helpful? Your encouragement fuels the site. </p>

	<p>Please add a comment. Couldn't get something to work?</p>

	<p>For the example apps, it's best to open an issue on RuBi.com so we can help you.


</p>
<p>please enter your comment! 

</p>
<form Action="/wilson/Comments/" method="post" id="comment form">
	<p>
	<textarea name ="comment" id ="comment" rows ="10">



	</textarea>

</p>
<p>
	<input type="submit" class ="btn btn-primary" name ="submit" value ="submit comment" >
	<label type ="button"></label>

</p>




</form>



